@import "./mixins.less";
@input-padding-sm: 0 .5rem;
@input-padding-base: .3rem .75rem;
@input-padding-lg: .3rem .9rem;
@input-box-shadow: 0 0 2.5px @primary;
@input-fontsize-base: .85rem;
@input-fontsize-lg: 1rem;
@fix-distance: .5rem;

.@{prefix-class}-input-wrapper{
  display: flex;
  .@{prefix-class}-input-affix-wrapper{
    display: flex;
    position: relative;
    width: 100%;
    &:hover .@{prefix-class}-input{
      border-color: @primary;
    }
    .@{prefix-class}-input{
      width: 100%;
      border: @border-base;
      line-height: @line-height-base;
      color: @font-base-color;
      transition: @transition;
      box-sizing: border-box;
    
      &:focus{
        border-color: @primary;
        box-shadow: @input-box-shadow;
      }
      &.@{prefix-class}-input-prefix{
        padding-left: @fix-distance + 1.4rem;
      }
      &.@{prefix-class}-input-suffix{
        padding-right: @fix-distance + 1.4rem;
      }
    }

    .@{prefix-class}-input-icon-prefix{
      position: absolute;
      left: @fix-distance; 
      top: 50%;
      transform: translateY(-50%);
    }
    .@{prefix-class}-input-icon-suffix{
      position: absolute;
      right: @fix-distance; 
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .@{prefix-class}-input-prepend, .@{prefix-class}-input-append{
    line-height: @line-height-base;
    border: @border-base;
    background-color: @gray-100;
  }
  .@{prefix-class}-input-prepend{
    border-right: none;
  }
  .@{prefix-class}-input-append{
    border-left: none;
  }
}


.@{prefix-class}-input-wrapper-disabled{
  opacity: .8;
  cursor: not-allowed;
  .@{prefix-class}-input-affix-wrapper .@{prefix-class}-input{
    cursor: not-allowed;
    &:hover{
      border: @border-base;
    }
  }
}

.input-size(small, @input-padding-sm, @input-fontsize-base);
.input-size(middle, @input-padding-base, @input-fontsize-base);
.input-size(large, @input-padding-lg, @input-fontsize-lg);