@progress-bar-border-radius: .8rem;

.@{prefix-class}-progress-bar-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .@{prefix-class}-progress-bar-outer{
    width: 100%;
    padding-right: .8rem;
    .@{prefix-class}-progress-bar{
      border-radius: @progress-bar-border-radius;
      transition: all .3s;

      each(@theme-colors, {
        &.@{prefix-class}-progress-bar-status-@{key}{
          background-color: @value;
        }
      });
    }
  }

  .@{prefix-class}-progress-bar-info{
    color: @default;
    font-size: @font-size-sm;
  }
}